<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head th:fragment = "header">
   <!--  Required meta tags -->
<meta charset="UTF-8">
<meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
<!--  Bootstrap CSS -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel = "stylesheet" th:href = "@{/css/formating.css}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<nav th:fragment = "foo" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" th:href="@{/}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/activities}">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/login}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/activities/activity-timelines}">Activities timeline</a>
      </li>
    </ul>
  </div>
</nav>
</html>